@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a style="color:black;">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </a>
            </li>

            <li><a style="margin-top:30px" href="javascript:document.getElementById('logoutForm').submit()" >Sign out</a></li>

        </ul>
    }
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a style="color:black;">@Html.ActionLink("Documents", "UploadFile", "UploadFile")</a></li>

            </ul>
    </div>
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color:black;">@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></li>
                <li><a style="color:black;">@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a></li>
            </ul>
            }
